<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cadastroDeProdutos.css">
    <title>Add produtos</title>
</head>
<body>
    <div class="produto">
        <h2>escolha uma foto</h2>
        <img src="./img/produto.jpg" alt="">
        <input type="file">
    </div>
    <div class="add">
        <h1>Nome do produto</h1>
        <input type="submit" name="" id="">
    </div>
</body>
</html>