<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Fascinate&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Login</title>
</head>
<body>
    <Main>
        <form action="/login" method="post">
            <label>
                <div id="titulo">
                   <h1>CILK ROAD <div id="store">STORE</div></h1> 
                </div>
                <label>
                    <span>Email</span>
                    <input type="text" name="email" id="email" placeholder="Informe seu email">
                </label>
                <label>
                    <span>Nome</span>
                    <input type="text" name="Nome" id="Nome" placeholder="Informe seu nome">
                </label>
                <label >
                    <span>Senha</span>
                    <input type="password" name="senha" id="senha" placeholder="Informe seu senha">
                </label>
                <div id="esqueceu">
                    <a href="#" style="color: white">Já possui cadastro ?</a>
                </div>
                <div id="entrar">
                    <button type="submit">Cadastrar</button>
                </div>
            </label>
        </form>
    </Main> 
</body>
</html>