<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="css/carrinho.css">
</head>
<body>
    <img src="img/CILK ROAD 1.png" alt="">
    <div class="cinza">
        <div class="bloco1">
            <input type="checkbox" name="" id="">
            <img class="line" src="/img/Line 1.png" alt="">
            <img class="img" src="img/Rectangle 56.png" alt=""> 
            <div class="nomeDoProduto"><p> nome do produto</p></div>
            <img class="line" src="/img/Line 1.png" alt="">
            <div class="quantidade"><p> quantidade </p></div>
            <div class="quantia">- 1 + </div>
        </div>
        <div class="bloco1">
            <input type="checkbox" name="" id="">
            <img class="line" src="/img/Line 1.png" alt="">
            <img class="img" src="img/Rectangle 56.png" alt=""> 
            <div class="nomeDoProduto"><p> nome do produto</p></div>
            <img class="line" src="/img/Line 1.png" alt="">
            <div class="quantidade"><p> quantidade </p></div>
            <div class="quantia">- 1 + </div>
        </div>
            <div class="bloco1">
            <input type="checkbox" name="" id="">
            <img class="line" src="/img/Line 1.png" alt="">
            <img class="img" src="img/Rectangle 56.png" alt=""> 
            <div class="nomeDoProduto"><p> nome do produto</p></div>
            <img class="line" src="/img/Line 1.png" alt="">
            <div class="quantidade"><p> quantidade </p></div>
            <div class="quantia">- 1 + </div>
        </div>
        <div class="bloco1">
            <input type="checkbox" name="" id="">
            <img class="line" src="/img/Line 1.png" alt="">
            <img class="img" src="img/Rectangle 56.png" alt=""> 
            <div class="nomeDoProduto"><p> nome do produto</p></div>
            <img class="line" src="/img/Line 1.png" alt="">
            <div class="quantidade"><p> quantidade </p></div>
            <div class="quantia">- 1 + </div>
        </div>
        <div class="bloco1">
            <input type="checkbox" name="" id="">
            <img class="line" src="/img/Line 1.png" alt="">
            <img class="img"  src="img/Rectangle 56.png" alt=""> 
            <div class="nomeDoProduto"><p> nome do produto</p></div>
            <img class="line" src="/img/Line 1.png" alt="">
            <div class="quantidade"><p> quantidade </p></div>
            <div class="quantia">- 1 + </div>
        </div>
        <div class="bloco1">
            <input type="checkbox" name="" id="">
            <img class="line" src="/img/Line 1.png" alt="">
            <img class="img" src="img/Rectangle 56.png" alt=""> 
            <div class="nomeDoProduto"><p> nome do produto</p></div>
            <img class="line" src="/img/Line 1.png" alt="">
            <div class="quantidade"><p> quantidade </p></div>
            <div class="quantia">- 1 + </div>
        </div>
    </div>
    <section>
        <div class="preco"><p>preço total</p></div>
        <div class="num"><p>R$ 130,90</p></div>
        <div class="finalizar"><a href="">finalizar compra</a></div>
    </section>
</body>
</html>