<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Compra</title>
    <link rel="stylesheet" href="css/finaliza.css">
</head>
<body>
    <div class="painel">
        <h1>Cilk Road Store</h1>
        <div class="produto">
            <img src="img/produto.jpg" alt="">
            <h3>nome do prouto</h3>
        </div>
        <div class="botao">
            <button>voltar</button>
            <button>comprar mais</button>
        </div>
    </div>
</body>
</html>