<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <form class="pequisa">
        <h1>Click Road Store</h1>
        <input type="text" class="pesquisa">
    </form>
    <form class="botao">
        <button class="lupa">
            buscar
        </button>
        <button class="carrinho">
            carrinho
        </button>
    </form>

    <div class="categorias">
        <p>
        <h3>pagina principal</h3>
        </p>
        <p>
        <h3>categorias</h3>
        </p>
        <p>
        <h3>Dcomunidade</h3>
        </p>
        <p>
        <h3>suporte</h3>
        </p>
    </div>

    <div class="produtos">
        <h3>trebolona</h3>
        <p class="preco">R$:2207,09</p>
        <img src="img/produto.jpg" alt="">
    </div>
    <div class="produtos">
        <h3>trebolona</h3>
        <p class="preco">R$:2207,09</p>
        <img src="img/produto.jpg" alt="">
    </div>
    <div class="produtos">
        <h3>trebolona</h3>
        <p class="preco">R$:2207,09</p>
        <img src="img/produto.jpg" alt="">
    </div>
    <div class="produtos">
        <h3>trebolona</h3>
        <p class="preco">R$:2207,09</p>
        <img src="img/produto.jpg" alt="">
    </div>
    <div class="produtos">
        <h3>trebolona</h3>
        <p class="preco">R$:2207,09</p>
        <img src="img/produto.jpg" alt="">
    </div>
    <div class="produtos">
        <h3>trebolona</h3>
        <p class="preco">R$:2207,09</p>
        <img src="img/produto.jpg" alt="">
    </div>

    <div class="ver">
        <button>
            <h2>ver +</h2>
        </button>
    </div>

</body>

</html>