<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/painelusuario.css">
    <title>Meu painel</title>
</head>

<body>
    <header>
        <h1>Click Road Store</h1>
        <section>
            <input class="pesquisa" type="text">
            <div class="lup"> <img class="lupa" src="img/Lupa.png" alt=""> </div>
        </section>
        <div class="car"><a href=""><img class="carrinho" src="img/carrinho.png" alt=""></a></div>
        <div class="cadastro"><a href="">Cadastrar</a></div>
        <div class="usuario"><a href=""> <img src="img/pixlr-bg-result (2).png" alt=""> </a></div>
    </header>
    <main>
        <div class="perfil">
            <h2>Perfil</h2>
            <div class="fotop">
                <img src="img/pixlr-bg-result (2).png" alt="">
            </div>
            <a href="">minhas configurações</a>
        </div>
        <div class="pedidos">
            <h2>Todos os pedidos</h2>
            <h2>Filtrar</h2>

        </div>
    </main>
</body>

</html>